// Define variables for your color scheme

// For example:
$red: #450001;
$blue: #002d70;
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(0, 78, 64);
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: rgb(255, 155, 255);
