.navbar-lewagon {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: $pink;
  opacity: 0.9;
  margin-bottom: 10px;
  font-family: 'Space Mono';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 50px;
  color: white;
  margin: 5px;
  font-size: 25px;
}
